{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<h1>[ {{ profile_user.username }} ]의 프로필 페이지</h1>
<p>가입일: {{ profile_user.date_joined }}</p>

<div>
    <p>
        팔로워 : {{ profile_user.followers.count }}명
        팔로잉 : {{ profile_user.following.count }}명
    </p>
</div>

<div>
    <form action="{% url 'accounts:follow' profile_user.pk %}" method="POST">
        {% csrf_token %}
        {% if user in profile_user.followers.all %}
        <button type="submit">언팔로우</button>
        {% else %}
        <button type="submit">팔로우</button>
        {% endif %}
    </form>
</div>

<h2>등록한 물품들</h2>
<div class="product_list">
    {% for product in products %}
    <div class="product_list_card">
        <a href="{% url 'products:detail' product.id %}">
            <img src="{% static 'images/coinman.png' %}">
            <form action="{% url 'products:like' product.pk %}" method="POST">
                {% csrf_token %}
                {% if user in product.like_users.all %}
                <img src="{% static 'images/heart_after.png' %}" width="30px" height="30px">
                {% else %}
                <img src="{% static 'images/heart_before.png' %}" width="30px" height="30px">
                {% endif %}
            </form>
        </a>
        <a href="{% url 'products:detail' product.id %}">
            <div>{{ product.title }}</div>
            <div>{{ product.price|intcomma }}원</div>
        </a>
    </div>
    {% endfor %}
    {% endblock content %}