{% extends "base.html" %}
{% load humanize %}

{% block content %}
<h2>상세 페이지</h2>
<h1>{{ product.title }}</h1>
{% if product.image %}
<img src="{{ product.image.url }}">
{% endif %}
<p>{{ product.content }}</p>
<p>{{ product.price|intcomma }}원</p>
<p>작성일시: {{ product.created_at }}</p>
<p>수정일시: {{ product.updated_at }}</p>
<form actions="{% url 'products:like' product.pk %}" method="POST">
    {% csrf_token %}
    {% if user in products.like_users.all %}
    <input type="submit" value="좋아요 취소">
    {% else %}
    <input type="submit" value="좋아요">
    {% endif %}
</form>
<div class="button_center">
    <a href="{% url 'products:update' product.id %}"><button>수정하기</button></a>
</div>
<form action="{% url 'products:delete' product.id %}" method="post">
    {% csrf_token %}
    <button>삭제하기</button>
</form>
<br><br>
<div class="button_center">
    <a href="{% url 'products:list' %}"><button>목록으로</button></a><br>
</div>
{% endblock content %}