{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="welcome_box">
    <h1> 믿을만한 사람들과 거래를 해보세요</h1>
    <h2>여러분의 마음을 나누어 봐요</h2>
</div>
<div class="to_page">
    <a href="{% url 'products:list' %}">물건 보러가기</a>
</div>
<h2>최신 게시글</h2>
<div class="product_list">
    {% for product in latest_products %}
    <div class="product_list_card">
        <a href="{% url 'products:detail' product.id %}">
            <img src="{% static 'images/coinman.png' %}" style="width: 200px; height:200px; border-radius: 10px;">
            <form action="{% url 'products:like' product.pk %}" method="POST">
                {% csrf_token %}
                {% if user in product.like_users.all %}
                <img src="{% static 'images/heart_after.png' %}" width="30px" height="30px">
                {% else %}
                <img src="{% static 'images/heart_before.png' %}" width="30px" height="30px">
                {% endif %}
            </form>
        </a>
        <a href="{% url 'products:detail' product.id %}">
            <div>{{ product.title }}</div>
            <div>{{ product.price|intcomma }}원</div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}